{% extends "base.html" %}

{% block content %}

<h1 class="my-5">Registered Programs:</h1>
<table class="table">
    <thead class="thead-dark">
        <th scope="col">Course ID</th>
        <th scope="col">Location ID</th>
        <th scope="col">Activity</th>
        <th scope="col">Course Title</th>
        <th scope="col">Activity Description</th>
        <th scope="col">Days of the week</th>
        <th scope="col">From/To Dates</th>
        <th scope="col">From/To Time</th>
        <th scope="col">Start Date</th>
        <th scope="col">Link</th>
        <th scope="col">Age</th>
        <th scope="col">Registration Date</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
    </thead>
    {% for registered_program in registered_programs %}
    <tbody>
        <tr scope="row">
            <td>
                <a href="{% url 'registeredprograms.detail' pk=registered_program.pk %}" class="text-dark text-decoration-non">{{registered_program.course_id}}</a>
            </td>
            <td>{{registered_program.location_id}}</td>
            <td>{{registered_program.activity_title}}</td>
            <td>{{registered_program.course_title}}</td>
            <td>{{registered_program.activity_description|truncatechars:20}}</td>
            <td>{{registered_program.days_of_the_week}}</td>
            <td>{{registered_program.from_to_dates}}</td>
            <td>{{registered_program.start_hour}}:{{registered_program.start_min}} - {{registered_program.end_hour}}:{{registered_program.end_min}}</td>
            <td>{{registered_program.start_date}}</td>
            <td><a href={{registered_program.efun_url}} target="_blank" rel="noopener noreferrer">Link</a></td>
            <td>Ages {{registered_program.min_age}} to {{registered_program.max_age}}</td>
            <td>{{registered_program.registration_date}}</td>
            <td>{{registered_program.status_information}}</td>
            <td>{{registered_program.program_category}}</td>
        </tr>
    </tbody>

    {% endfor %}
</table>

{% endblock %}